@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Exo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  line-height: 1.2;
  color: darkslategray;
}

h1,
.h1 {
  font-size: calc(2.375rem + 1.5vw);
}

.carousel-caption h1 {
  font-size: calc(2.375rem + 1.5vw);
  color: darkslategrey;
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 3.5rem;
    color: darkslategrey;
  }
  h2,
  .h2 {
    font-size: 2rem;
  }
  h3,
  .h3 {
    font-size: 1.75rem;
  }
  h4,
  .h4 {
    font-size: 1.5rem;
  }
  .intro .intro-text {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .intro .intro-img {
    width: 100%;
    float: right;
  }
  .intro .intro-text .intro-button {
    width: 100%;
    left: 0;
    position: absolute;
    bottom: -2rem;
  }
  .intro .intro-text {
    /* left: 0; */
    /* width: 100% */
    margin-top: 3rem;
    padding: 3rem;
    /* position: absolute; */
  }
  .intro .intro-text .intro-button {
    /* width: 100%;
        left: 0; */
    /*         position: absolute;
 */
    bottom: -2rem;
  }
  /* .img-nosotros {
        max-width: 850px !important;
    } */
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .img-nosotros {
    max-width: 480px !important;
  }
}

@media (min-width: 750px) {
  .intro .intro-text {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .box-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .img-nosotros {
    max-width: 100px;
  }
  #trabajos .card .card-texto a {
    font-size: 15px !important;
  }
  .nosotros-frases-card {
    background: transparent;
    margin: 5px 40px 0px 40px;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#inicio {
  height: 100vh;
  background-image: url(../img/deco2.jpg);
  background-position: center;
  background-size: cover;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.page-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.intro {
  position: relative;
}

.intro-text {
  border-radius: 0.25rem;
  background-color: #fff4e1;
  text-align: center;
  margin: 3rem auto;
  /*  position: absolute; */
  padding: 3rem;
}

.btn-deco {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn-nosotros:hover {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: darkslategray !important;
  border-color: darkslategray;
}

#nosotros {
  /* background: linear-gradient(90deg, $colorViolet 0%, $colorBlue 20%, $colorGreen 40%, $colorYellow 60%, $colorOrange 80%, $colorRed 100%); */
  background-color: #dcf9e4;
  text-align: center;
  height: 100%;
  /* .fadeInUp {
        animation: fadeInUp;
        /* referring directly to the animation's @keyframe declaration */
  /* animation */
  -duration: 2s;
  /* don't forget to set a duration! */
}

#nosotros .btn-nosotros {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;
  background-color: darkslategray;
  border-color: darkslategray;
}

#nosotros .btn-nosotros:hover {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  /* background: linear-gradient(90deg, $colorViolet 0%, $colorBlue 20%, $colorGreen 40%, $colorYellow 60%, $colorOrange 80%, $colorRed 100%);
        color: $colorCemento !important; */
  border-color: darkslategray;
}

#nosotros h4 {
  color: darkslategray;
}

#nosotros a {
  text-decoration: none;
  color: darkslategray;
}

#nosotros .img-nosotros {
  background-image: url("../img/carli2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: auto !important;
  height: 530px;
  padding: 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 10px;
  /*         border: solid 1px $colorCemento;
        border-radius: 0.25rem */
}

#nosotros .nosotros-texto {
  background: -webkit-gradient(linear, left top, right top, from(#f5dcf9), color-stop(20%, #dce4f9), color-stop(40%, #dcf9e4), color-stop(60%, #fdfee0), color-stop(80%, #fff4e1), to(#ffe4e1));
  background: linear-gradient(90deg, #f5dcf9 0%, #dce4f9 20%, #dcf9e4 40%, #fdfee0 60%, #fff4e1 80%, #ffe4e1 100%);
  /*  border: solid 2px $colorCemento; */
  padding: 35px;
}

.nosotros_col {
  padding: 20px;
}

.nav-link.my-violet {
  color: #f5dcf9;
}

.nav-link.my-blue {
  color: #dce4f9;
}

.nav-link.my-green {
  color: #dcf9e4;
}

.nav-link.my-yellow {
  color: #fdfee0;
}

.hover-colores, .btn-nosotros:hover, #nosotros .btn-nosotros:hover, header .navbar-brand:hover, header .nav-link:hover, #trabajos .card:hover {
  background: -webkit-gradient(linear, left top, right top, from(#f5dcf9), color-stop(20%, #dce4f9), color-stop(40%, #dcf9e4), color-stop(60%, #fdfee0), color-stop(80%, #fff4e1), to(#ffe4e1));
  background: linear-gradient(90deg, #f5dcf9 0%, #dce4f9 20%, #dcf9e4 40%, #fdfee0 60%, #fff4e1 80%, #ffe4e1 100%);
  color: darkslategray;
}

.back-my-violet {
  background-color: #f5dcf9;
  color: darkslategray;
}

.back-my-blue {
  background-color: #dce4f9;
  color: darkslategray;
}

.back-my-green {
  background-color: #dcf9e4;
  color: darkslategray;
}

.back-my-yellow {
  background-color: #fdfee0;
  color: darkslategray;
}

.back-my-orange {
  background-color: #fff4e1;
  color: darkslategray;
}

.back-my-red {
  background-color: #ffe4e1;
  color: darkslategray;
}

.back-my-colors {
  background: -webkit-gradient(linear, left top, right top, from(#f5dcf9), color-stop(20%, #dce4f9), color-stop(40%, #dcf9e4), color-stop(60%, #fdfee0), color-stop(80%, #fff4e1), to(#ffe4e1));
  background: linear-gradient(90deg, #f5dcf9 0%, #dce4f9 20%, #dcf9e4 40%, #fdfee0 60%, #fff4e1 80%, #ffe4e1 100%);
  color: darkslategray;
}

.back-my-gray {
  background-color: darkslategray;
  color: gainsboro;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1030;
  width: 100%;
  opacity: 0.8;
}

header .logo {
  font-family: 'Exo', sans-serif;
}

header .navbar-brand:hover {
  padding: 5px;
}

#trabajos {
  background-color: #f5dcf9;
  text-align: center;
}

#trabajos .justify-content-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trabajos .card-texto {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

#trabajos .card:hover .card-texto {
  opacity: 1;
}

#trabajos .card:hover img {
  opacity: 0.4;
}

#trabajos .card .card-texto a {
  color: darkslategray;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
}

#trabajos .card .card-texto a:hover {
  color: whitesmoke;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-text-stroke: 1px darkslategray;
}

#macetas {
  text-align: center;
  background-color: #dcf9e4;
}

#luminarias {
  text-align: center;
  background-color: #f5dcf9;
}

#relojes {
  text-align: center;
  background-color: #fff4e1;
}

#posavasos {
  text-align: center;
  background-color: #dce4f9;
}

#velas {
  text-align: center;
  background-color: #ffe4e1;
}

#contenedores {
  text-align: center;
  background-color: #fdfee0;
}

.section-catalogo {
  height: 100%;
}

#taller {
  text-align: center;
}

#taller .btn-nosotros {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;
  background-color: darkslategray;
  border-color: darkslategray;
}

#taller .d-line {
  display: inline !important;
}

#taller a {
  text-decoration: none;
  color: darkslategray;
}

#taller h3 {
  font-size: 28px;
  color: #0a0a0a;
  text-align: center;
  font-weight: 600;
  position: relative;
  margin-bottom: 45px;
}

#contacto {
  background: -webkit-gradient(linear, left top, right top, from(#f5dcf9), color-stop(20%, #dce4f9), color-stop(40%, #dcf9e4), color-stop(60%, #fdfee0), color-stop(80%, #fff4e1), to(#ffe4e1));
  background: linear-gradient(90deg, #f5dcf9 0%, #dce4f9 20%, #dcf9e4 40%, #fdfee0 60%, #fff4e1 80%, #ffe4e1 100%);
  text-align: center;
  padding: 60px 0;
  overflow: hidden;
  /* #submitButton {
        background: $colorViolet;
        border: 2.5px solid $colorCemento;
        text-transform: uppercase;
        padding: 11px 32px;
        color: $colorCemento;
        transition: 0.3s;
        font-size: 85%;
        letter-spacing: 1.5px;
        font-family: Arial;
    } */
  /* #submitButton:hover {
        background: linear-gradient(90deg, $colorViolet 0%, $colorBlue 20%, $colorGreen 40%, $colorYellow 60%, $colorOrange 80%, $colorRed 100%);
        ;
        border: 2.5px solid $colorCemento;
        text-transform: uppercase;
        padding: 11px 32px;
        color: $colorCemento;
        transition: 0.3s;
        font-size: 85%;
        letter-spacing: 1.5px;
        font-family: Arial;
    } */
}

#contacto a {
  text-decoration: none;
  color: darkslategray;
}

#contacto #submitButton {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  /* transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;
  background-color: darkslategray;
  border-color: darkslategray;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
}

.b-example-vr {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.box img {
  width: 30%;
  height: auto;
}

.box-grid {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

#nosotros-frases {
  background: -webkit-gradient(linear, left top, right top, from(#f5dcf9), color-stop(20%, #dce4f9), color-stop(40%, #dcf9e4), color-stop(60%, #fdfee0), color-stop(80%, #fff4e1), to(#ffe4e1));
  background: linear-gradient(90deg, #f5dcf9 0%, #dce4f9 20%, #dcf9e4 40%, #fdfee0 60%, #fff4e1 80%, #ffe4e1 100%);
}

#nosotros-frases h2 {
  color: darkslategray;
  text-align: center;
}

.bg-dark {
  background: darkslategray;
  opacity: 0.8;
}

#footer {
  color: white;
}

#footer .btn-nosotros {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: whitesmoke;
  background-color: darkslategray;
  border-color: darkslategray;
}

#mas {
  color: darkslategray;
  text-align: center;
  background-color: #f5dcf9;
}
.btn-flotante {
  font-size: 16px;
  /* Cambiar el tamaño de la tipografia */
  text-transform: uppercase;
  /* Texto en mayusculas */
  font-weight: bold;
  /* Fuente en negrita o bold */
  color: #ffffff;
  /* Color del texto */
  border-radius: 5px;
  /* Borde del boton */
  letter-spacing: 2px;
  /* Espacio entre letras */
  background-color: ghostwhite;
  /* Color de fondo */
  padding: 9px 15px;
  /* Relleno del boton */
  position: fixed;
  bottom: 40px;
  right: 40px;
  -webkit-transition: all 300ms ease 0ms;
  transition: all 300ms ease 0ms;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  /* background-color: #2c2fa5; */
  /* Color de fondo al pasar el cursor */
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 12px;
    padding: 6px 6px;
    bottom: 20px;
    right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */